__pycache__/
models/__pycache__
dataset/__pycache__/

*.pyc
*.ckpt
.DS_Store
*.pth
*.mp4
*.pkl

output/
results/
tools/
demos/

vq*/
vis*/
renders*/
fk_out*/
exp*/
*image*/
dataset/*_dataset/
temp*/
fbx_out/
fbx-sdk/

*.fbx
*.tar.gz
note.txt

eval/note.txt