__pycache__/
models/__pycache__
dataset/__pycache__/

*.pyc

output/
*.ckpt
.DS_Store
.pth
*.mp4
.pkl

renders*/
fk_out*/

fbx_out/
fbx-sdk/

*.fbx
*.tar.gz
note.txt

results/

*image/

tools/

*image*/

demos/

dataset/*_dataset/

eval/note.txt

vq*/

visDance*/